.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  min-height: 100vh;
}

body {
  background: #292b3e;
}

h1 {
  color: white;
  align-items: center;
}

.forgotPassword {
  padding-top: 10px;
  padding-left: 670px;
}

.registerLink {
  padding-top: 100px;
}
