.todoItemSection {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}
.todoItems {
  padding-inline-start: 0px;
  width: 100%;
}

.todoInput {
  justify-content: center;
  text-align: center;
}
.todoIcons {
  justify-content: space-between;
  display: flex;
}
.todoTitle {
  font-family: "Poppins", sans-serif;
}
