.todoForm .todoItems {
  justify-content: center;
  align-content: center;
  text-align: center;
  /* font-family: "Poppins", sans-serif; */
}

.todoList h1,
p,
span {
  font-family: "Poppins", sans-serif;
}
.deadline-input {
  font-size: 15px;
}
